#plansThat {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px;
}
#plansThat > #cards-cont {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
#plansThat > #cards-cont > div {
  background-color: white;
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
#plansThat > #cards-cont > div:hover {
  opacity: 0.7;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
#plansThat button {
  background-color: blue;
  color: white;
  padding: 5px;
  cursor: pointer;
}
#plansThat button:hover {
  background-color: rgb(55, 243, 18);
  color: rgb(241, 21, 21);
  opacity: 0.8;
}
