body {
  font-family: "Shippori Mincho,Signika, sans-serif";
}
#special-font {
  text-align: center;
  font-family: "Redressed";
  font-weight: 100;
  padding-top: 10px;
}
#cont {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#login {
  width: 450px;
  margin: auto;
  position: absolute;
  top: 14%;
  left: 35%;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
}
#login input {
  width: 370px;
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
  padding-left: 8px;
  border: 0.5 px solid rgba(0, 0, 0, 0.3);
}
#login a {
  text-decoration: none;
}
#footer div {
  width: 85%;
  /* border: 1px solid black; */
  margin-left: 14%;
  /* margin-top: 60px; */
}
#footer div div {
  width: 15%;
  float: left;
  /* border: 1px solid red; */
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer div div p {
  font-size: 18px;
}
#footer div div a {
  text-decoration: none;
}
#footer div div a img {
  margin-right: 6%;
}

.marginleft span {
  /* padding-top: 80px; */
  margin-left: 3%;
}
.padd {
  /* padding-top: 100px; */
  display: none;
}
